<section class="advantages">
  <h2 class="advantages__title visually-hidden">Наши преимущества</h2>

  <ul class="advantages__list">
    <li class="advantages__item">
      <p class="advantages__title">Надежно</p>
      <p class="advantages__descr">Ваши средства принадлежат только вам</p>
    </li>
    <li class="advantages__item advantages__item--second">
      <p class="advantages__title">Безопасно</p>
      <p class="advantages__descr">Никто не сможет проникнуть в ваш аккаунт</p>
    </li>
    <li class="advantages__item advantages__item--third">
      <p class="advantages__title">Быстро</p>
      <p class="advantages__descr">Ввод и вывод средств занимает считанные минуты</p>
    </li>
  </ul>
</section>
