<section class="compare">
  <h2 class="compare__title">Сравнение средних комиссий на рынке</h2>
  <ul class="compare__list">
    <li class="compare__item">
        <div class="compare__brand-link">
      <img class="compare__percent" src="../img/icon-five-per.png" alt="5%" width="138" height="228" />
      <div class="compare__link"><img class="compare__brand" src="../img/icon-exmo.png" alt="Exmo" width="160" height="32"/></div>
      <div>
    </li>
    <li class="compare__item">
      <div class="compare__brand-link">
      <img class="compare__percent" src="../img/icon-seven-per.png" alt="5%" width="138" height="228" />
      <div class="compare__link"><img class="compare__brand" src="../img/icon-bitcions.png" alt="Local Bitcoins" width="226" height="46"/></div>
    </div>
    </li>

    <li class="compare__item">
        <div class="compare__brand-link">
      <img class="compare__percent" src="../img/icon-five-per.png" alt="5%" width="138" height="228" />
      <div class="compare__link"><img class="compare__brand" src="../img/icon-changelly.png" alt="Changelly" width="160" height="40"/></div>
      <div>
    </li>

    <li class="compare__item">
      <a class="compare__brand-link" href="https://deex.exchange/" target="_blank">
        <img class="compare__percent" src="../img/icon-zero-per.png" alt="5%" width="138" height="228" />
        <div class="compare__link"><img class="compare__brand" src="../img/icon-deex.png" alt="Deex" width="160" height="33" /></div>
      </a>
    </li>
  </ul>
</section>
