<section class="compare">
  <h2 class="compare__title">Сравнение средних комиссий на рынке</h2>
  <ul class="compare__list">
    <li class="compare__item">
      <img class="compare__percent" src="../img/icon-five-per.png" alt="5%" width="138" height="228" />
      <a class="compare__link" href=""><img class="compare__brand" src="../img/icon-exmo.png" alt="Exmo" width="160" height="32"/></a>
    </li>

    <li class="compare__item">
      <img class="compare__percent" src="../img/icon-seven-per.png" alt="5%" width="138" height="228" />
      <a class="compare__link" href=""><img class="compare__brand" src="../img/icon-bitcions.png" alt="Bitcoins" width="226" height="46"/></a>
    </li>

    <li class="compare__item">
      <img class="compare__percent" src="../img/icon-five-per.png" alt="5%" width="138" height="228" />
      <a class="compare__link" href=""><img class="compare__brand" src="../img/icon-changelly.png" alt="Bitcoins" width="160" height="40"/></a>
    </li>

    <li class="compare__item">
      <img class="compare__percent" src="../img/icon-zero-per.png" alt="5%" width="138" height="228" />
      <a class="compare__link" href=""><img class="compare__brand" src="../img/icon-deex.png" alt="Bitcoins" width="160" height="33"/></a>
    </li>
  </ul>
</section>
