<section class="positive">
    <h2 class="positive__title">Deex Exchange - децентрализованная биржа, которой доверяет более <span class="positive__title-number">100 000</span> пользователей во всём мире</h2>

    <ul class="positive__list">
      <li class="positive__item">
        <p class="positive__number">01</p>
        <p class="positive__descr">Лучшая децентрализованная биржа</p>
      </li>

      <li class="positive__item">
        <p class="positive__number">02</p>
        <p class="positive__descr">Низкие комиссии</p>
      </li>

      <li class="positive__item">
        <p class="positive__number">03</p>
        <p class="positive__descr">Реферальная программа</p>
      </li>

      <li class="positive__item">
        <p class="positive__number">04</p>
        <p class="positive__descr">Пассивный доход на мастер-нодах</p>
      </li>

      <li class="positive__item">
        <p class="positive__number">05</p>
        <p class="positive__descr">Анонимность и безопасность</p>
      </li>

      <li class="positive__item">
        <p class="positive__number">06</p>
        <p class="positive__descr">Stealth-тразакции</p>
      </li>

      <li class="positive__item">
        <p class="positive__number">07</p>
        <p class="positive__descr">2FA на блокчейне</p>
      </li>

      <li class="positive__item">
        <p class="positive__number">08</p>
        <p class="positive__descr">Электронные ПС</p>
      </li>

    </ul>
  </section>
