<section class="rss">
  <div class="rss__wrap">
    <h2 class="rss__title visually-hidden">Узнавайте о главных новостях первыми!</h2>

    <form class="form" action="" method="post" name="form">
      <label class="form__label form__label--mail" for="mail">Узнавайте о главных новостях первыми!</label>
      <input class="form__input form__input--mail" value="" name="mail" id="mail" type="mail" pattern="\S+@[a-z]+.[a-z]+"
        placeholder="E-mail" required />
      <button class="form__submit btn" type="submit">Подписаться</button>
    </form>

  </div>
</section>
