<section class="rss">
  <div class="rss__wrap">
    <h2 class="rss__title visually-hidden">Узнавайте о главных новостях первыми!</h2>

    <form class="form" action="" method="POST" name="form">
      <label class="form__label form__label--mail" for="mail">Узнавайте о главных новостях первыми!</label>
      <input class="form__input" name="mail" id="mail" type="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        placeholder="E-mail" required />
      <button class="form__submit btn" type="submit">Подписаться</button>
    </form>

  </div>
</section>
