.btn {
  box-sizing: border-box;
  @include button-reset;
  font-family: inherit;
  font-size: 22px;
  line-height: 26.4px;
  text-align: center;
  color: $white;
  background: $linear;
  box-shadow: $box-shadow;
  border-radius: 90px;
  outline: none;
}
