.compare {
  background-color: $white;
  padding-top: 0;
  padding-bottom: 90px;
  padding-left: 30px;
  padding-right: 30px;

  @include desktop-max {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile-max {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    color: $grey;
    font-size: 40px;
    line-height: 60px;
    text-align: center;

    @include mobile-max {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 21.6px;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
  }

  &__item {
    box-sizing: border-box;
    width: 25%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &:hover {
      border-radius: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }

    @include mobile-max {
      padding-top: 0;
      padding-bottom: 0;

      &:hover {
        border-radius: 10px;
      }
    }
  }

  // &__link {
  //   display: block;
  // }

  &__brand-link {
    display:block;
    text-align: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__percent {
    margin-bottom: 35px;
    max-width: 130px;

    @include mobile-max {
      margin-bottom: 8px;
      width: 64px;
      height: auto;
    }

    @include mobile-sm-max {
      max-width: 48px;
    }
  }

  &__brand {
    @include mobile-max {
      max-width: 64px;
      height: auto;
    }
  }
}
