// Header

.header {
  position: relative;
  margin-bottom: 20px;
  padding-top: 45px;
  padding-right: 30px;
  padding-bottom: 55px;
  padding-left: 30px;
  background-color: $white;
  background-image: url('../img/bg-img.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include desktop-max {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile-max {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
  }

  &__logo {
    margin-bottom: 80px;
    display: block;
    width: 100%;
    max-width: 463px;
    height: 78px;

    @include desktop-max {
      height: auto;
      width: auto;
      max-width: 100%;
      margin-bottom: 25px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    width: 100%;
    max-width: 100%;
    font-size: 60px;
    line-height: 76px;
    color: $white;

    &--zero {
      display: inline;
      font-weight: bolder;
      font-size: 150%;
      text-transform: uppercase;
    }

    &--comission {
      color: $white;
      display: block;

      @include desktop-max {
        display: inline;
      }

      @include desktop-max {
        display: block;
        line-height: 0.4;
      }
    }

    @include desktop-max {
      max-width: 100%;
      font-size: 40px;
      line-height: 1.6;
    }

    @include mobile-max {
      margin-bottom: 25px;
      line-height: 1.2;
      font-size: 30px;
    }
  }

  &__text {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.3;
    color: $white;


    @include mobile-max {
      line-height: 1.2;
      font-size: 14px;
      display: block;

      &--top {
        margin-bottom: 10px;
      }
    }
  }

  &__left {
    padding-top: 15px;
    padding-left: 30px;

    @include desktop-max {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: static;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 25px;
    }

    @include mobile-max {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.btn-reg {
  display: block;
  max-width: 240px;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 21px;
  padding-bottom: 21px;

  @include mobile-max {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 34px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
  }
}

//Form

// .form {
//   &__wrapper {
//     width: 100%;
//     max-width: 500px;
//   }

//   &__reg {
//     @include list-reset;
//     width: 100%;
//     max-width: 100%;
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: nowrap;
//     margin-bottom: 35px;

//     @include mobile-max {
//       margin-bottom: 15px;
//     }
//   }

//   &__reg-item {
//     align-self: flex-start;
//   }

//   &__label {
//     margin-bottom: 10px;
//     display: block;
//     color: $white;
//     font-family: inherit;
//     line-height: 1.1;
//     font-size: 22px;

//     @include desktop-max {
//       font-size: 16px;
//     }

//     @include mobile-max {
//       font-size: 12px;
//       line-height: 1.1;
//     }
//   }

//   &__input {
//     width: 100%;
//     max-width: 500px;
//     padding-top: 20px;
//     padding-right: 15px;
//     padding-bottom: 20px;
//     padding-left: 15px;
//     box-sizing: border-box;
//     margin-bottom: 25px;
//     border-radius: 50px;
//     font-family: $montserrat-regular;
//     font-size: 22px;
//     line-height: 1.3;
//     outline: none;
//     border: none;
//     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

//     &--border {
//       max-width: calc(100% - 68px);
//       border-top-right-radius: 0 0;
//       border-bottom-right-radius: 0 0;

//       @include desktop-max {
//         max-width: calc(100% - 60px);
//       }

//       @include mobile-max {
//         max-width: calc(100% - 48px);
//       }
//     }

//     @include desktop-max {
//       font-size: 16px;
//     }

//     @include mobile-max {
//       padding-top: 14px;
//       padding-right: 15px;
//       padding-bottom: 14px;
//       padding-left: 15px;
//       font-size: 14px;
//     }
//   }

//   &__input-wrapper {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   &__input--img {
//     width: 68px;
//     height: 68px;
//     background-color: $green;
//     background-image: url("../img/unions.png");
//     background-repeat: no-repeat;
//     background-position: 14px center;
//     background-size: 50%;
//     border-top-right-radius: 50px 50px;
//     border-bottom-right-radius: 50px 50px;
//     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
//     cursor: pointer;

//     @include desktop-max {
//       width: 60px;
//       height: 60px;
//       font-size: 16px;
//     }

//     @include mobile-max {
//       width: 48px;
//       height: 46px;
//     }
//   }

//   &__wrapper-confirm {
//     display: flex;
//     flex-direction: row-reverse;
//     margin-bottom: 15px;
//   }

//   &__input--confirm {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     overflow: hidden;
//     clip: rect(0 0 0 0);
//   }

//   &__label--confirm {
//     padding-left: 50px;
//     position: relative;
//     font-size: 14px;
//     line-height: 1.4;
//     font-weight: normal;
//     font-family: $montserrat-regular;

//     @include mobile-max {
//       padding-left: 35px;
//       font-size: 12px;
//     }
//   }

//   &__input--checkbox {
//     margin-left: -50px;
//     width: 32px;
//     height: 32px;
//     position: absolute;
//     top: 25%;
//     left: 12.7%;
//     transform: translate(-50%, -50%);
//     background-image: url("../img/check-off.png");
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: 100%;

//     @include mobile-max {
//       width: 24px;
//       height: 24px;
//       top: 12px;
//       left: 60px;
//     }
//   }

//   &__input--confirm:checked + .form__input--checkbox {
//     background-image: url("../img/check-on.png");
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: 100%;
//   }

//   &__btn {
//     font-family: inherit;
//     font-size: 40px;
//     line-height: 60px;

//     &--signin {
//       color: $green;
//     }

//     &--signup {
//       color: rgba(255, 255, 255, 0.5);
//     }

//     @include desktop-max {
//       font-size: 30px;
//     }

//     @include mobile-max {
//       font-size: 14px;
//     }
//   }

//   &__submit {
//     padding-top: 26px;
//     padding-right: 50px;
//     padding-bottom: 26px;
//     padding-left: 50px;
//     max-width: 294px;
//     margin: 0 auto;
//     display: block;

//     @include mobile-max {
//       padding-top: 17px;
//       padding-bottom: 17px;
//       width: 100%;
//       max-width: 288px;
//       font-size: 14px;
//     }
//   }
// }
