.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background: $linear;
  background-image: url('../img/bg-linear.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding-top: 60px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include desktop-max {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile-max {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  &__title {
    width: 100%;
    max-width: 304px;
    margin: 0;
    font-size: 22px;
    font-family: $montserrat-regular;
    font-weight: normal;
    line-height: 1.1;
    color: $white;
    text-align: left;

    @include desktop-max {
      margin-bottom: 30px;
    }

    @include mobile-max {
      font-size: 12px;
      letter-spacing: 1.1px;
      margin-bottom: 15px;
    }
  }

  &__list {
    @include list-reset;
    width: 100%;
    max-width: 670px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    @include desktop-max {
      justify-content: flex-start;
    }

    @include mobile-sm-max {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    // @include desktop-max {
    //   max-width: 100%;
    // }

    @include mobile-max {
      margin-bottom: 20px;
      margin-right: 16px;
      width: auto;
      max-width: 24px;

      &:nth-child(n + 8) {
        margin-bottom: 0;
      }
    }
  }
}
