// Breakpoint
$desktop: 1280px;
$tablet: 1024px;
$mobile: 767px;

// Colors

$white: #ffffff;
$black: #000000;
$grey: #333333;
$light-grey: #4f4f4f;
$blue: #2f80ed;
$green: #02d4bb;
$box-shadow: 0 4px 8px rgba(0,0,0,0.25);
$linear: linear-gradient(to top, #1ee3d1, #00d2b9);

$bgolor: #e5e5e5;


// Fonts

$montserrat-regular: "Montserrat-Regular", "Arial", sans-serif;
$montserrat-medium: "Montserrat-Medium", "Arial", sans-serif;
$montserrat-semibold: "Montserrat-Semibold", "Arial", sans-serif;
$montserrat-bold: "Montserrat-Bold", "Arial", sans-serif;



// Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
